@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic+Coding:wght@700&family=Nanum+Gothic:wght@800&family=Poor+Story&family=Sunflower:wght@500&display=swap');
@font-face { font-family: 'TTTogether'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/TTTogetherA.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'yg-jalnan'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NEXON Lv1 Gothic OTF'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NEXON Lv1 Gothic OTF Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff') format('woff'); font-weight: normal; font-style: normal; }
.korean {
    font-family :'NEXON Lv1 Gothic OTF', sans-serif;
}
.Title{
    font-family :'NEXON Lv1 Gothic OTF Bold', sans-serif;
}


mark{
    background-color: darkslategrey;
}

a:hover{
    color:tomato;
}



/* tracer page */

.tracer blockquote{
    font-family: 'NEXON Lv1 Gothic OTF Bold', sans-serif;
}
.tracer h3{
    font-family: 'TTTogether', sans-serif;
    font-weight: 300;
}

.tracer h4{
    font-family: 'yg-jalnan', sans-serif;
    font-weight:300;

}

.tracer p{
    font-family: 'NEXON Lv1 Gothic OTF', sans-serif;
    font-weight: 600;
}

.tracer a {
    color:indianred;
    font-weight:bold;
}

.box div img{
    height:250px;
    border: solid 10px;
    border-color: #13b398;
}

.col12 span img{
    height:500px;
}
.prize div span img{
    height:500px;
    width:300px;
}

.project div ul{
    margin-left:6%;
}
.project div>ul>li{
    margin-bottom: 1.5em;
}
            